@using Sparc.Blossom.Authentication;
@using Sparc.Ibis;

<CascadingValue Value="User">
    <div class="user-menu">
        <AuthorizeView>
            <Authorized>
                @if (User != null)
                {
                    <button class="toggle-usermenu">
                        <img src="images/1.png" />
                        <ExpandIcon />
                    </button>
                }
            </Authorized>
            <NotAuthorized>
                <button class="login" @onclick="Login">Login</button>
            </NotAuthorized>
        </AuthorizeView>
    </div>

    <nav class="@Show">
        <AuthorizeView>
            <Authorized>
                @if (User != null)
                {
                    <div class="navmenu">
                        <header class="navmenu--header">
                            <a href="/webpages"><img class="logo" src="images/logo.png" /></a>
                            <button class="toggle-menu" @onclick="ToggleMenu"><ExpandIcon /></button>
                        </header>
                        <div class="navmenu--search @Show">
                            @if (Show == "collapse-menu")
                            {
                                <span @onclick="ToggleMenu">
                                    <SearchIcon />
                                </span>
                            } else
                            {
                                <SearchIcon />
                                <input type="text" placeholder="Search..." />
                            }
                        </div>
                        <div class="navmenu--webpages">
                            <div class="item">
                                <header>
                                    <a href="/webpages"><img src="images/Sparc-image.png" /></a>
                                    <p class="title"><a href="">Sparc (sparc.coop)</a></p>
                                </header>
                                <ul>
                                    <li><a href="/webpages">Homepage (/)</a></li>
                                    <li><a href="/webpages">Kodekit (/projects/kodekit)</a></li>
                                    <li><a href="/webpages">Law of 100 (/projects/lawof100)</a></li>
                                </ul>
                            </div>
                            <div class="item">
                                <header>
                                    <a href="/webpages"><img src="images/Blossom-image.png" /></a>
                                    <p class="title"><a href="">Blossom</a></p>
                                </header>
                                <ul>
                                    <li><a href="/webpages">Home (/)</a></li>
                                    <li><a href="/webpages">21 Days of Blossom (/21daysofblossom)</a></li>
                                </ul>
                            </div>
                        </div>
                        <button class="add-website"><AddIcon /><span> Add Website</span></button>
                    </div>
@*                    <ul>
                        <li>
                            <button @onclick="GoToRooms">
                                <img src="../icons/dashboard.svg" alt="Your Rooms" />
                            </button>
                        </li>
                        <li>
                            <UserBalance User="User" @ref=BalanceComponent />
                        </li>
                        <li tabindex="0" class="avatar-container @(ShowMenu ? "open" : "")" @onclick="OpenMenu" @onfocus="OpenMenu">
                            <Avatar User="User" />
                            <img src="../icons/down-arrow.png" class="arrow" alt="Account Settings" />
                            <ul>
                                <li>
                                    <button class="navmenu-button" @onclick="@EditAvatar" @onclick:stopPropagation="true">Edit Your Avatar</button>
                                </li>
                                <li>
                                    <a href="account" class="navmenu-button" @onclick="@(e => ShowMenu = !ShowMenu)" @onclick:stopPropagation="true">Account Settings</a>
                                </li>
                                <li>
                                    <button class="logout navmenu-button" @onclick="Logout" @onclick:stopPropagation="true">
                                        Log Out
                                    </button>
                                </li>
                            </ul>
                        </li>
                    </ul>
*@                }
            </Authorized>
        </AuthorizeView>
    </nav>
</CascadingValue>

@inject AuthenticationStateProvider AuthenticationStateProvider

@code {
    UserAvatar? User;
    bool ShowMenu;
    bool CollapseMenu;
    string Show = "expand-menu";
    bool IsRoom;
    string HubUrl => Config["Blossom:Authority"] + "/hub";
    UserBalance? BalanceComponent;
    public string LoginLink = "https://localhost:7117/_login?returnUrl=https%3A%2F%2Flocalhost%3A7083";

    void Login()
    {
        Nav.NavigateTo(LoginLink);
    }

    protected override async Task OnParametersSetAsync()
    {
        IsRoom = Nav.Uri.Contains("rooms/");

        if (User != null)
            return;

        await UpdateUser(AuthenticationStateProvider.GetAuthenticationStateAsync());

        AuthenticationStateProvider.AuthenticationStateChanged += async (state) => await UpdateUser(state);
    }

    void OpenMenu() => ShowMenu = !ShowMenu;

    void EditAvatar()
    {
        ShowMenu = false;
        Modal.Show<Onboarding.Index>("Edit Your Avatar", new ModalOptions { HideHeader = true, Size = ModalSize.Automatic });
    }

    async Task AddFunds() => await BalanceComponent.AddFunds();

    bool isUserBeingGot;
    async Task UpdateUser(Task<AuthenticationState> state)
    {
        var user = (await state).User;

        if (User == null && !isUserBeingGot && user.Identity?.IsAuthenticated == true)
        {
            isUserBeingGot = true;
            User = await Api.GetUserAsync();
            if (User != null && User.Language == null)
            {
                EditAvatar();
            }

            StateHasChanged();
            isUserBeingGot = false;
        }
    }

    void GoToRooms() => Nav.NavigateTo("/rooms");

    private async Task Logout()
    {
        await (AuthenticationStateProvider as BlossomAuthenticationStateProvider)!.LogoutAsync();
    }

    void KeyboardMenu(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            OpenMenu();
        }
    }

    private void ToggleMenu()
    {
        CollapseMenu = !CollapseMenu;

        if (CollapseMenu == true)
            Show = "collapse-menu";
        else
            Show = "expand-menu";
    }
}