@inherits LayoutComponentBase

<div class="dash-header">
    <div class="container">
        <a class="logo" href="rooms"><img src="/images/logo_2x.png"/></a>
        <AuthorizeView>
            <Authorized>
                <a href="rooms" class="nav-link">
                    <img class="dash-icon" src="../icons/dashboard.svg"/>
                </a>
                <div class="dropdown">
                    <div class="nav-link account" @onclick="@(e => ShowMenu = !ShowMenu)">
                        @if(!string.IsNullOrEmpty(user.ProfileImg))
                        {
                            <img src="@user.ProfileImg" class="profile"/>
                        } else
                        {
                            <i class="material-icons profile">account_circle</i>   
                        }
                        <img src="../icons/down-arrow.png" class="arrow"/>
                    </div>
                    @if(ShowMenu == true)
                    {
                    <div class="menu-overlay" @onclick="@(e => ShowMenu = !ShowMenu)"></div>
                    <div class="dropdown--menu">
                        @if(!string.IsNullOrEmpty(user.ProfileImg))
                        {
                            <img src="@user.ProfileImg"/>
                            <p>@user.FullName</p>
                        } else
                        {
                            <i class="material-icons">account_circle</i>   
                            <p>@user.FullName</p>
                        }
                        <ul>
                            <li><a href="account" @onclick="@(e => ShowMenu = !ShowMenu)">Account Settings</a></li>
                            <li>
                                <button class="logout" @onclick="BeginLogout">
                                    Log Out
                                </button>
                            </li>
                        </ul>
                    </div>   
                    }
                </div>
            </Authorized>
        </AuthorizeView>
    </div>
</div>
<main class="dash-layout">
    @Body
</main>

<Footer />
<CascadingBlazoredModal HideCloseButton=true />


@inject SignOutSessionStateManager SignOutManager
@code{
    GetUserResponse user;
    bool ShowMenu = false;

    protected override async Task OnInitializedAsync()
    {
        user = await Api.GetUserAsync();
    }

    private async Task BeginLogout(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Nav.NavigateTo("authentication/logout");
    }
}