<div class="invite-block modal">
    <h4>Invite People</h4>
    <button class="close" @onclick="Close">
        <img src="/icons/Close.svg" alt="Close Icon"/>
    </button>
    <div class="invite-search">
        <input placeholder="Email" @bind="InviteEmail"/>
        <button @onclick="SendInvite" class="primary">Send Invite</button>
    </div>
    <div class="invite-users">
        @if(Group != null)
        {
            <h5>Participants</h5>
            List<RoomUser> users = Group.Users.ToList();
            @foreach(var user in users)
            {
                <div class="user-wrapper">
                    <div class="user-left">
                        <div class="avatar">@(user.Initials != null ? user.Initials : "")</div>
                        <p class="large">@(user.Name != null ? user.Name : user.Email)</p>
                    </div>
                    <div class="user-right">                      
                        @if(user.Name == null)
                        {
                            <p class="small invited">Pending</p>
                        } else
                        {
                            <p class="small success">Success</p>
                        }
                    </div>
                </div>
            }
            @foreach(var email in NewEmails)
            {
                <div class="user-wrapper">
                    <div class="user-left">
                        <div class="avatar"></div>
                        <p class="large">@email</p>
                    </div>
                    <div class="user-right">
                        <p class="small invited">Pending</p>    
                    </div>
                </div>
            }
        }
    </div>
    <div class="share-link">
        <p class="medium">Copy & Share Link</p>
        <div class="share-link-wrapper" @onclick="CopyLink">
            <input type="hidden" id="@RoomId" value="@("https://www.ibis.com/" + RoomId)" />
            <div>room.ibis.com/@RoomId</div>
            <span>@CopyConfirm</span>
            <img src="/icons/copy.svg" alt="Copy Icon" />
        </div>
    </div>
</div>


@code {
    bool Sent = false;
    string InviteEmail;
    RoomUsersResponse Group;
    List<string> NewEmails = new List<string>();

    [Parameter] 
    public string RoomId { get; set; }
    [CascadingParameter] 
    BlazoredModalInstance ModalInstance { get; set; } = default!;
    string CopyConfirm = "";

    protected override async Task OnInitializedAsync() => Group = await Api.GetRoomUsersAsync(RoomId);

    async Task SendInvite()
    {
        NewEmails.Add(InviteEmail);
        InviteEmail = "";
        Sent = await Api.InviteUserAsync(new InviteUserRequest { RoomId = RoomId, Email = InviteEmail });
    }

    async Task CopyLink()
    {
        //link to copy
        await JS.InvokeVoidAsync("copyToClipboard", RoomId, "invite");
        CopyConfirm = "Copied!";
        StateHasChanged();
        await Task.Delay(2000);
        CopyConfirm = "";
    }

    void Close() => ModalInstance.CancelAsync();
}