@inherits RealtimeComponent

<div class="message-grid">
    <div class="message-list ibis-ignore" id="room-@Room.RoomId">
        @if(Messages != null)
        {
            @foreach (var message in Messages)
            {
                @if(message.Type == "Text")
                {
                    <ContentComponent Id="@message.Id" RoomId="@Room.RoomId" Type="Text" Title="@message.Text" Content_Text="@message.Text" HTML="@message.Html" @* OnContentChanged="UpdateContent" *@/>
                }
            }
        } else
        {
            <div>
                <p>Get started with some new content.</p>
                <button @onclick="NewMessage">Add new content</button>
            </div>
        }
    </div>
</div>

@code {
    [Parameter] public GetRoomResponse Room { get; set; } = null!;
    List<Message>? Messages;
    Message? SelectedMessage;
    string? Language;
    bool HasNewMessage;
    string? PlayMessage;

    protected override async Task OnInitializedAsync()
    {
        await GetMessagesAsync(new());
        On<UserLanguageChanged>(GetMessagesAsync);
        HasNewMessage = true;
    }

    async Task GetMessagesAsync(UserLanguageChanged? evt)
    {
        if (Messages != null)
            Messages.Clear();

        await InvokeAsync(StateHasChanged);

        var response = await Api.GetAllContentAsync(new GetAllContentRequest { RoomSlug = Room.RoomId });
        Messages = response.Content.ToList();
        if (Language != response.Language)
        {
            //await Hub.InvokeAsync("StopWatching", Room.RoomId + "|" + Language);
            Language = response.Language;
        }

        var subscriptionId = Room.RoomId + "|" + Language;
        await On<MessageTextChanged>(subscriptionId, x =>
        {
            UpdateMessage(x.Message);
        });

        await On<MessageAudioChanged>(subscriptionId, x =>
        {
            UpdateMessage(x.Message);
        });
        await On<MessageDeleted>(subscriptionId, x => RemoveMessage(x.Message));
    }

    void UpdateMessage(Message message)
    {
        SelectedMessage = null;

        var existingId = Messages.FindIndex(x =>
           x.Id == message.Id
        || x.Id == message.SourceMessageId
        || message.Id == x.SourceMessageId
        || (message.SourceMessageId != null && x.SourceMessageId == message.SourceMessageId));
        if (existingId > -1)
        {
            Messages[existingId] = message;
        }
        else
        {
            Messages.Add(message);
            HasNewMessage = true;
            PlayMessage = message.Id;
            Console.WriteLine($"HasNewMessage {PlayMessage}");
        }
    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (HasNewMessage)
        {
            await JS.InvokeVoidAsync("scrollToBottom", $"room-{Room.RoomId}");
            HasNewMessage = false;
        }
    }

    void SelectMessage(Message message) => SelectedMessage = message;
    void DoneEditing() => SelectedMessage = null;

    void AddMessage(Message message)
    {
        var existingId = Messages.FindIndex(x => x.Id == message.Id);
        if (existingId > -1)
        {
            Messages[existingId] = message;
        }
        else
        {
            Messages.Add(message);
            HasNewMessage = true;
        }

        SelectedMessage = null;
    }

    void RemoveMessage(Message message)
    {
        var existingId = Messages.FindIndex(x => x.Id == message.Id);
        if (existingId > -1)
        {
            Messages.RemoveAt(existingId);
        }
    }

    async Task DeleteMessage(Message message)
    {
        var result = await Api.DeleteMessageAsync(new DeleteMessageRequest { RoomId = Room.RoomId, MessageId = message.Id });
        if (result)
            RemoveMessage(message);
    }

    void NewMessage()
    {
        Nav.NavigateTo($"/content/{Room.RoomId}");
    }


    protected void On<T>(Func<T, Task> action)
    {
        if (Hub != null)
        {
            Hub.On(typeof(T)!.Name, async delegate (T evt)
            {
                await action(evt);
                await InvokeAsync(StateHasChanged);
            });
        }
    }

    async Task UpdateContent(string value)
    {
        await GetMessagesAsync(new());
    }
}
