<div class="ibis-languages ibis-ignore">
    <button @onclick="GetLanguages">@SelectedLanguage</button>
    @if (IsSelecting)
    {
        <ul aria-hidden="true">
            @foreach (var language in Languages!)
            {
                <li @onclick="@(() => SetLanguage(language))" class="@(SelectedLanguage == language.Id ? "selected" : "")">
                    @language.Id
                    <aside>@language.NativeName</aside>
                </li>
            }
        </ul>
    }
</div>

@code {
    [Parameter] public string SelectedLanguage { get; set; } = null!;
    [Parameter] public EventCallback<Language> OnLanguageSelected { get; set; }
    bool IsSelecting;
    ICollection<Language>? Languages;

    async Task GetLanguages()
    {
        if (Languages == null)
            Languages = await Api.GetLanguagesAsync();

        IsSelecting = !IsSelecting;
    }

    async Task SetLanguage(Language language)
    {
        SelectedLanguage = language.Id;
        IsSelecting = false;
        await OnLanguageSelected.InvokeAsync(language);
    }
}