@* @page "/websites/{WebsiteId}/{PageId}" *@
@page "/content/{RoomId}"
@layout DashboardLayout

@* <Breadcrumbs WebsiteId="@WebsiteId" WebsiteTitle="@Page.Name" PageTitle="@PageId" /> *@

<Breadcrumbs WebsiteId="Test Website" WebsiteTitle="@Page.Name" PageTitle="@RoomId" />

<div class="page-editor">
    <div class="page-editor--container">
        <header>
            <label>Page Title</label>
            <input type="text" value="@RoomId" />
        </header>
        <div class="page-content">
            <ContentList Page=Page />
        </div>
    </div>
    <div class="page-editor--actions">
        <button class="back" @onclick="GoBack">Back</button>
        <div class="actions">
            <button class="page-settings" @onclick="OpenPageSettings">Settings</button>            
        </div>
    </div>
</div>

@code {
    public GetRoomResponse? Page { get; set; }
    // [Parameter] public string WebsiteId { get; set; } = null!;
    [Parameter] public string RoomId { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        Page = await Api.JoinRoomAsync(new JoinRoomRequest { RoomId = RoomId });
    }

    void GoBack()
    {
        Nav.NavigateTo("/dashboard");
    }

    void OpenPageSettings()
    {
        Modal.Show<PageSettingsModal>("Settings");
    }
}