@page "/websites/{WebsiteId}"
@layout DashboardLayout
@using Ibis.Ink.Components;

<Breadcrumbs WebsiteId="@WebsiteId"/>
<div class="pages">
    <header class="page--header">
        <h2>@WebsiteId</h2>
        <div class="search--container">
            <div class="searchbar">
                <SearchIcon />
                <input type="text" placeholder="Search..." />
            </div>
            <div class="sort">
                <select>
                    <option>Sort</option>
                </select>
            </div>
        </div>
    </header>
    <div class="pages-list">
        <PageCard WebsiteId=@WebsiteId Type="Page" Title="Home" Endpoint="/Home" DateModified="@DateTime.Now" />
        <PageCard WebsiteId=@WebsiteId Type="Page" Title="About" Endpoint="/About" DateModified="@DateTime.Now" />
        <PageCard WebsiteId=@WebsiteId Type="Page" Title="21 Days of Blossom" Endpoint="/21days" DateModified="@DateTime.Now" />
        <PageCard WebsiteId=@WebsiteId Type="Blog" Title="Welcome to Blossom" Endpoint="/21days/Welcome" DateModified="@DateTime.Now" />
        <PageCard WebsiteId=@WebsiteId Type="Other" Title="Sparc Entities" Endpoint="/21days/SparcEntities" DateModified="@DateTime.Now" />
    </div>
</div>

@code {
    [Parameter] public string? WebsiteId { get; set; }

    //[Parameter] public string? Title { get; set; }
}