@using System.Threading.Channels
@inherits RealtimeComponent

<form class="new-message @(SelectedMessage != null ? "editing" : "")" @onsubmit=SendText>
    <div class="new-message container">
        <Avatar User="Me" EditTab="Avatar" />
        <button type="button" class="mobile-actions" alt="attach file" aria-label="attach" @*@onclick="ToggleMobileActions*@">
            <img src="icons/attachement.svg" />
            @*<AttachmentIcon />*@
        </button>
        @if (Me?.LanguageIsRTL == false)
        {
            <textarea aria-label="Message" type="text" class="ibis-ignore" disabled="@IsListening" placeholder="Type something..." @ref=TextArea @bind="Text" @bind:event="oninput" @onkeydown=MaybeSendText @onkeydown:preventDefault="preventDefault" />
        }
        else
        {
            <textarea aria-label="Message" type="text" class="ibis-ignore" dir="rtl" disabled="@IsListening" placeholder="Type something..." @ref=TextArea @bind="Text" @bind:event="oninput" @onkeydown=MaybeSendText @onkeydown:preventDefault="preventDefault" />
        }
        <div class="send full">
            @if (IsSpeak)
            {
                <button type="button" @onclick="@(() => BeginListeningAsync(false))" aria-label="Speak">
                    <RecordIcon />
                    @if (IsListening)
                    {
                        <span>Listening...</span>
                    }
                    else
                    {
                        <span>Speak</span>
                        <aside>[hold Ctrl]</aside>
                    }
                </button>
            }
            else
            {
                if (SelectedMessage != null)
                {
                    <button type="button" class="cancel" @onclick=CancelEdit>
                        Cancel
                    </button>
                }
                <button type="submit" @onclick="SendText" aria-label="Send">
                    <SendIcon />
                    <span>@(SelectedMessage == null ? "Send" : "Save")</span>
                    <aside>[Enter]</aside>
                </button>
            }
        </div>
        <div class="send widget">
            @if (IsSpeak)
            {
                <button type="button" class="record" @onclick="@(() => BeginListeningAsync(false))" aria-label="Speak">
                    @if (IsListening)
                    {
                        <div class="recording-animation" />
                    }
                    else
                    {
                        <RecordIcon />
                    }
                </button>
            }
            else
            {
                if (SelectedMessage != null)
                {
                    <button type="button" class="cancel" @onclick=CancelEdit>
                        <img src="icons/X.svg" />
                    </button>
                }
                <button type="submit" @onclick="SendText" aria-label="Send">
                    <SendIcon />
                </button>
            }
        </div>

        @if (IsListening)
        {
            <div class="message-subtitles">
                @if (string.IsNullOrWhiteSpace(TextPreview))
                {
                    <aside>Listening...</aside>
                }
                else
                {
                    <span>@TextPreview</span>
                }
            </div>
        }
    </div>

    <footer>
        @*<button class="action" @onclick="ShowUploadModal" title="Upload file">
            <UploadIcon />
            Upload a file
        </button>
        <button class="action">
            <SmsIcon />
            Connect via SMS
        </button>
        <button class="action">
            <PhoneIcon />
            Connect via Phone
        </button>*@
        <button class="action @(Me?.MuteMe == true ? "selected" : "")" @onclick:stopPropagation=true @onclick:preventDefault="true" @onclick="MuteMe">
            <Ibis.Chat.Shared.Icons.UserVoice />
            @((Me?.MuteMe == null || Me?.MuteMe == false) ? "Hear myself" : "Mute myself")
        </button>
    </footer>
    @*@if(ShowMobileActions)
    {
        <div class="actions-mobilemenu">
            <button class="action" @onclick="ShowUploadModal" title="Upload file">
                <UploadIcon />
                Upload a file
            </button>
            <button class="action">
                <SmsIcon />
                Connect via SMS
            </button>
            <button class="action">
                <PhoneIcon />
                Connect via Phone
            </button>
        </div>
    }*@
</form>

    @code {
    [Parameter] public GetRoomResponse Room { get; set; } = null!;
    [Parameter] public string? LanguageString { get; set; }
    [Parameter] public Message? SelectedMessage { get; set; }
    [Parameter] public EventCallback<Message?> OnDoneEditing { get; set; }
    [CascadingParameter] public UserAvatar? Me { get; set; }
    string? Text;
    string? TextPreview;
    string? Dialect;
    ElementReference TextArea;
    bool IsSpeak => IsListening || string.IsNullOrWhiteSpace(Text);
    bool preventDefault = false;
    bool LiveMode = false;
    bool ShowMobileActions = false;

    protected override async Task OnParametersSetAsync()
    {
        if (SelectedMessage != null)
        {
            Text = SelectedMessage.Text;
            await TextArea.FocusAsync();
        }

        if (Dialect == null && Me != null)
        {
            Dialect = Me.Dialect;
            await On<UserAvatarUpdated>(Me!.Id, x => Dialect = x.Avatar.Dialect);
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await JS.InvokeAsync<DotNetObjectReference<NewMessage>>("enablePtt", DotNetObjectReference.Create(this));
    }

    async Task MuteMe()
    {
        Me!.MuteMe ??= false;
        Me!.MuteMe = !Me.MuteMe;
        await Api.UpdateUserAsync(Me);
    }

    async Task MaybeSendText(KeyboardEventArgs args)
    {
        if (args.Code == "Enter" && !args.ShiftKey)
        {
            preventDefault = true;
            await SendText();
        }
        else
        {
            preventDefault = false;
        }
    }

    async Task SendText()
    {
        var text = Text?.Trim('\r', '\n', ' ');
        Text = "";
        StateHasChanged();

        var newMessage = await Api.TypeMessageAsync(new TypeMessageRequest { RoomId = Room.RoomId, Text = text, MessageId = SelectedMessage?.Id });
        await TextArea.FocusAsync();

        if (SelectedMessage != null && OnDoneEditing.HasDelegate)
            await OnDoneEditing.InvokeAsync(newMessage);
    }

    async Task CancelEdit()
    {
        Text = "";
        await OnDoneEditing.InvokeAsync(null);
    }

    void ShowUploadModal()
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(Upload.RoomId), Room.RoomId);
        Modal.Show<Upload>("Upload", parameters);
    }

    DateTime? AudioStartTime;
    Channel<byte[]>? AudioChannel;
    DotNetObjectReference<NewMessage>? objRef;
    bool IsListening;

    [JSInvokable]
    public async Task BeginListeningAsync(bool liveMode)
    {
        if (AudioStartTime != null)
        {
            await StopListeningAsync();
            return;
        }

        if (!string.IsNullOrWhiteSpace(Text))
            return;

        LiveMode = liveMode;
        if (Dialect == null)
        {
            var parameters = new ModalParameters();
            parameters.Add("Tab", "Voice");
            var modal = Modal.Show<Onboarding.Index>("Edit Your Avatar", parameters, new ModalOptions { HideHeader = true, Size = ModalSize.Automatic });
            var result = await modal.Result;
            return;
        }

        objRef = DotNetObjectReference.Create(this);
        AudioStartTime = DateTime.UtcNow;
        AudioChannel = Channel.CreateUnbounded<byte[]>(); ;
        await JS.InvokeVoidAsync("beginListening", objRef);

        IsListening = true;
        StateHasChanged();

        On<SpeechRecognizing>(x =>
        {
            TextPreview = x.Text;
            StateHasChanged();
        });
        On<SpeechRecognized>(x =>
        {
            if (TextPreview != null)
            {
                Text += " " + x.Text;
                TextPreview = null;
            }
            StateHasChanged();
        });

        if (Hub?.State == HubConnectionState.Connected)
            await Hub.SendAsync("ReceiveAudio", AudioChannel.Reader);
    }

    async Task StopListeningAsync()
    {
        await JS.InvokeVoidAsync("stopListening");
        AudioStartTime = null;
        AudioChannel?.Writer.Complete();
        objRef = null;
        IsListening = false;
        TextPreview = null;

        StateHasChanged();

        await TextArea.FocusAsync();
    }

    [JSInvokable]
    public async Task AudioReceived(byte[] audio)
    {
        if (!LiveMode && DateTime.UtcNow - AudioStartTime > TimeSpan.FromSeconds(30))
        {
            await StopListeningAsync();
            return;
        }

        if (AudioChannel != null)
            await AudioChannel!.Writer.WriteAsync(audio);
    }

    void ToggleMobileActions()
    {
        if (!ShowMobileActions)
        {
            ShowMobileActions = true;
        } else
        {
            ShowMobileActions = false;
        }
    }
}
