@inherits SparcModal

<div class="invite-block room-modal">
    <div class="room-icons">
        <p class="medium">Room Type</p>
        <dl class="room-icon-wrapper">
            <div tabindex="0" @onclick="@(() => SelectRoomType("Chat"))" @onkeydown="@((e) => KeyboardSelect(e, "Chat"))" class="@(Request.RoomType == "Chat" ? "selected" : "")">
                <dt>
                    <RoomIcon RoomType="Chat" />
                </dt>
                <dd>
                    Have a conversation in your native language with anyone.
                </dd>
            </div>
            <div tabindex="0" @onclick="@(() => SelectRoomType("Blog"))" @onkeydown="@((e) => KeyboardSelect(e, "Blog"))" class="@(Request.RoomType == "Blog" ? "selected" : "")">
                <dt class="blog">
                    <RoomIcon RoomType="Blog" />
                </dt>
                <dd>
                    Host your own weblog or diary.
                </dd>
            </div>
            <div tabindex="0" @onclick="@(() => SelectRoomType("Content"))" @onkeydown="@((e) => KeyboardSelect(e, "Content"))" class="@(Request.RoomType == "Content" ? "selected" : "")">
                <dt class="content">
                    <RoomIcon RoomType="Content" />
                </dt>
                <dd>
                    Add any kind of content to Ibis and have it translated.
                </dd>
            </div>
        </dl>
    </div>
    <div class="room-name-wrapper">
        <p class="medium">Room Name</p>
        <input type="email" placeholder="Enter Room Name" @bind="Request.RoomName" />
    </div>

    <button class="create-room" @onclick="CreateRoom">Create Room</button>
</div>

@code {
    string? Name;
    string InviteEmail = "";
    List<string> emails = new();
    List<UserAvatar> invited = new();
    NewRoomRequest Request = new() { RoomType = "Chat", Emails = new List<string>() };

    async Task CreateRoom()
    {
        var response = await Api.CreateRoomAsync(Request);
        Nav.NavigateTo($"/rooms/{response.RoomId}");
    }

    void SelectRoomType(string type) => Request.RoomType = type;

    void InviteUser()
    {
        Request.Emails.Add(InviteEmail);
        InviteEmail = "";
    }

    void KeyboardSelect(KeyboardEventArgs e, string type)
    {
        if (e.Key == "Enter" & type == "Chat")
        {
            SelectRoomType("Chat");
        }
        else if (e.Key == "Enter" & type == "Blog")
        {
            SelectRoomType("Blog");
        }
        else if (e.Key == "Enter" & type == "Content")
        {
            SelectRoomType("Content");
        }
    }
}